body {
    background-color: #000000;
    /*color:#ABF9FF;*/
    overflow:hidden;
    margin: 0;
    padding: 0;
}

canvas {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0 );
    max-width: 100%;
    max-height: 100%;
    width: 100%;

    /*image-rendering: optimizeSpeed;             !* Older versions of FF          *!*/
    /*image-rendering: -moz-crisp-edges;          !* FF 6.0+                       *!*/
    /*image-rendering: -webkit-optimize-contrast; !* Safari                        *!*/
    /*image-rendering: -o-crisp-edges;            !* OS X & Windows Opera (12.02+) *!*/
    /*image-rendering: pixelated;                 !* Awesome future-browsers       *!*/
    /*-ms-interpolation-mode: nearest-neighbor;   !* IE                            *!*/
}